<div class="row">
  <div class="col-md-12">
    <h1>{{thisuser.name}}</h1>
  </div>

  <div class="col-md-4">
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Email:</strong> {{thisuser.email}}</li>
        <li><strong>收支紀錄筆數:</strong> {{thisuser.recordLength}}</li>
        <li><strong>收入總額:</strong> {{thisuser.TotalAmount}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <p>介紹自己</p>
  </div>
  <hr>
</div>

<hr>

<br />
<br />
<a href="javascript:history.back()">回上一頁</a>