<h4>使用者收入排名</h4>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">排名</th>
      <th scope="col">使用者</th>
      <th scope="col">總金額</th>
    </tr>
  </thead>
  <tbody>
    {{#each sortList}}
    <tr>

      <th scope="row">{{ this.rating }}</th>

      <td>{{ this.name }}</td>
      <td>{{ this.amount }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>