{{!--error Message開頭 --}}
{{#if errors}}
{{#each errors}}
<div class="alert show showAlert">
  <span class="fas fa-exclamation-circle"></span>
  <span class="message">{{this.message}}</span>
  <div class="close-btn">
    <span class="fas fa-times"></span>
  </div>
</div>
{{/each}}
{{/if}}
{{!--error Message開頭 --}}
{{!--Flash Message開頭 --}}
{{#if success_messages}}
<div class="success show showAlert">
  <span class="fas fa-check-circle"></span>
  <span class="message">{{success_messages}}</span>
  <div class="close-btn">
    <span class="fas fa-times"></span>
  </div>
</div>
{{/if}}
{{#if error_messages}}
<div class="alert show showAlert">
  <span class="fas fa-exclamation-circle"></span>
  <span class="message">{{error_messages}}</span>
  <div class="close-btn">
    <span class="fas fa-times"></span>
  </div>
</div>
{{/if}}