<div class="container-fluid" >
  <div class="row flex-nowrap justify-content-center">
    <div class="col-sm-7">
      <div class="mt-5 mb-2">
        <strong>帳戶設定</strong>
      </div>
      <form action="/setting?_method=PUT" method="POST">
        <div class="form-group mt-3" style="height:54px;">
          <label for='name' style='margin-bottom: -30px; margin-left: 8px;'>名稱</label>
          <input type='text' class='form-control pt-4' id='name' name='name'
            style='border:none; border-bottom:2px solid rgb(75, 82, 85);outline: none;background-color:#f4f8fb'
            aria-describedby='nameHelp' value='{{name}}'/>
        </div>
        <div class="form-group mt-2" style="height:54px;">
          <label for='email' style='margin-bottom: -30px; margin-left: 8px;'>信箱</label>
          <input type='email' class='form-control pt-4' id='email' name='newEmail'
            style='border:none; border-bottom:2px solid rgb(75, 82, 85);outline: none;background-color:#f4f8fb'
            aria-describedby='emailHelp' value='{{email}}'/>
        </div>
        <div class="form-group mt-2" style="height:54px;">
          <label for='password' style='margin-bottom: -30px; margin-left: 8px;'>密碼</label>
          <input type='password' class='form-control pt-4' id='password' name='password'
            style='border:none; border-bottom:2px solid rgb(75, 82, 85);outline: none;background-color:#f4f8fb'
            aria-describedby='passwordHelp'/>
        </div>
        <div class="form-group mt-4" style="height:54px;">
          <label for='confirmPassword' style='margin-bottom: -30px; margin-left: 8px;'>密碼確認</label>
          <input type='password' class='form-control pt-4' id='confirmPassword' name='confirmPassword'
            style='border:none; border-bottom:2px solid rgb(75, 82, 85);outline: none;background-color:#f4f8fb'
            aria-describedby='confirmPasswordHelp' />
        </div>
        <div class="d-flex justify-content-end">
          <button class="test btn btn-primary btn-block mt-4 " style="border-radius:30px; width:100px"
            type="submit">儲存</button>
        </div>
      </form>
    </div>
  </div>
</div>