.wrapper {
  padding: 20px 0px;
  position: absolute;
  z-index: 6;
  right: 0;
  top: 80px;
}
.alert{
  background: #ffdb9b;
  min-width: 300px;


  border-radius: 4px;
  border-left: 8px solid #ffa502;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.alert.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.alert.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alert.hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.alert .fa-exclamation-circle{
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #ce8500;
  font-size: 30px;
}
.alert .message{
  padding: 0 20px;
  font-size: 18px;
  color: #ce8500;
}
.alert .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #ffd080;
  padding: 20px 18px;
  cursor: pointer;
}
.alert .close-btn:hover{
  background: #ffc766;
}
.alert .close-btn .fas{
  color: #ce8500;
  font-size: 22px;
  line-height: 40px;
}

/* Custom success Alert Notification */
.success{
  background: #e5ffe9;
  padding: 20px 40px;
  min-width: 300px;
  position: absolute;
  z-index: 4;
  right: 0;
  top:80px;
  border-radius: 4px;
  border-left: 8px solid #b2ffbd;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.success.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.success.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.success.hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.success .fa-check-circle{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #4cce00b7;
  font-size: 30px;
}
.success .message{
  padding: 0 20px;
  font-size: 18px;
  color: #30ce00;
}
.success .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #cbffd3;
  padding: 20px 18px;
  cursor: pointer;
}
.success .close-btn:hover{
  background: #b2ffbd;
}
.success .close-btn .fas{
  color: #00ff22ab;
  font-size: 22px;
  line-height: 40px;
}

/* 新增支出按鈕 */
.fa-plus-circle {
  cursor: pointer;
  color: darkorange;
}
.fa-plus-circle:hover{
  color: rgba(0, 119, 255, 0.972);
}



